@import "tailwindcss";

:root {
  --font-heading: var(--font-lexend-deca);
  --font-body: var(--font-work-sans);
}

body {
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading), sans-serif;
}

.ant-table-thead > tr > th {
  font-family: var(--font-heading), sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  background-color: #fafafa !important;
}

.ant-table-tbody > tr > td {
  font-family: var(--font-body), sans-serif !important;
  font-size: 14px !important;
}
